node_modules
.next
.git
.gitignore
.env
.env.*
!.env.example
.postgres_data
backups
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
tests
coverage
*.log
scratch
docs
.vscode
.idea
*.tsbuildinfo
